<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>about.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 579}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>about_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {283, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{283, 65}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 651}, {283, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievements.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 146}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>achievements_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {90, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{90, 76}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 75}, {90, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>back.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 219}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>back_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {283, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{283, 63}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 366}, {283, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>beta.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {348, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{348, 74}</string>
			<key>spriteSourceSize</key>
			<string>{352, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {348, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>beta_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {348, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{348, 66}</string>
			<key>spriteSourceSize</key>
			<string>{352, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 78}, {348, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>facebook.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 75}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>facebook_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {90, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{90, 76}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 88}, {90, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leaderboard.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 2}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>leaderboard_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {90, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{90, 76}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 75}, {90, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 292}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {283, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{283, 63}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 431}, {283, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music_off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {345, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{345, 71}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 228}, {345, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music_off_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {345, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{345, 65}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{533, 161}, {345, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music_on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {345, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{345, 71}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 2}, {345, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music_on_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {345, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{345, 65}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 512}, {345, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 438}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {283, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{283, 63}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 496}, {283, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 511}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {283, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{283, 65}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 584}, {283, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>replay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 365}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>replay_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {283, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{283, 63}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 301}, {283, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {283, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{283, 71}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 232}, {283, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>settings_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {283, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{283, 65}</string>
			<key>spriteSourceSize</key>
			<string>{283, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 579}, {283, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound_off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {345, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{345, 71}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 305}, {345, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound_off_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {345, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{345, 65}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 445}, {345, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound_on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {345, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{345, 71}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 146}, {345, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound_on_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {345, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{345, 65}</string>
			<key>spriteSourceSize</key>
			<string>{345, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 378}, {345, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twitter.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 2}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>twitter_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {90, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{90, 74}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{812, 75}, {90, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>