<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Block.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 195}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Block_HL0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 317}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Block_HL1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Block_HL2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{897, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Block_HL3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{902, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fly01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {290, 290}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{290, 290}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 0}, {290, 290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ItemAnswer.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 292}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ItemAnswer_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 292}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ItemBomb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {110, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 86}</string>
			<key>spriteSourceSize</key>
			<string>{110, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 402}, {86, 110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ItemFly.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {110, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 86}</string>
			<key>spriteSourceSize</key>
			<string>{110, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 402}, {86, 110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ItemShare.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{897, 366}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ItemShare_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 292}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ItemSmall.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {110, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 86}</string>
			<key>spriteSourceSize</key>
			<string>{110, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 402}, {86, 110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>ItemTips.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 402}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ItemTips_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{90, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 292}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>KnowButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{515, 380}, {63, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>KnowButton_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{710, 380}, {63, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>MissionNumber.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {78, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 78}</string>
			<key>spriteSourceSize</key>
			<string>{80, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694, 0}, {78, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WordBlank.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 96}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 402}, {96, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WordFill.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 19}, {30, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 12}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 500}, {30, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>infoBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 0}, {125, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>infoBtn_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 380}, {63, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>nextBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 130}, {125, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nextBtn_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 380}, {63, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>outSide.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 400}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shareBtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 380}, {63, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>shareBtn_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 65}, {125, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>GuessPro-hd.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>GuessPro-hd</string>
			<key>textureFileName</key>
			<string>GuessPro-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>GuessPro-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>