<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>cc_levelmenu_award.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {50, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 64}</string>
			<key>spriteSourceSize</key>
			<string>{50, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 1}, {50, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_item.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {132, 120}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{132, 120}</string>
			<key>spriteSourceSize</key>
			<string>{136, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {132, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_item_locked.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {132, 120}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{132, 120}</string>
			<key>spriteSourceSize</key>
			<string>{136, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 122}, {132, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_item_locked_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {134, 108}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{134, 108}</string>
			<key>spriteSourceSize</key>
			<string>{136, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 1}, {134, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_item_pushed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {134, 108}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{134, 108}</string>
			<key>spriteSourceSize</key>
			<string>{136, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 110}, {134, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_nostarbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {112, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{112, 116}</string>
			<key>spriteSourceSize</key>
			<string>{112, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 1}, {112, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_star.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{32, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 219}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_star_hidden.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{28, 36}</string>
			<key>spriteSourceSize</key>
			<string>{32, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 219}, {28, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_levelmenu_starbutton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {112, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{112, 116}</string>
			<key>spriteSourceSize</key>
			<string>{112, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 118}, {112, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>